<!-- this style block must be placed here to prevent overriding from application.css -->
<style type="text/css">
	nav {
		display: none;
	}

	#footer {
		display: none;
	}

	.jumbotron {
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
</style>
<!-- this style block must be placed here to prevent overriding from application.css -->
<div class="container">
	<div class="row">
		<div class="col-xs-12 scrolled-y">
		<% if flash[:alert] %>
		    <div class="alert alert-danger alert-dismissible fade in">
		    	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
		    	<%= flash[:alert] %>
		    </div>
		<% end %>
			<form name="form" role="form">
				<div class="form-inline">
					<input class="form-control" name="query" type="text" size="39" method="POST">
				</div>
			</form>
			<% if @query %>
				<% @translation.each_pair do |key, val| %>
					<h3 style="color: red"><%= key %></h3>
				  	<p id="translation"><%= val.html_safe %></p>
				<% end %>
			<% end %>
		</div>
	</div>
</div>