style[type="text/css"]
  |  nav { display: none; } #wrapper { padding-top: 0px; position:relative; } .container-fluid { padding-left: 0px; padding-right: 0px; } .badge { background-color: red; } 
.container
  .row
    .col-xs-12
      .center[style="padding-top: 10px; padding-bottom: 10px;"]
        = link_to root_path, target: '_blank' do
          = image_tag image_path('logo3.png')
      - if user_signed_in?
        p
          = 'Текущий аккаунт: ' + current_user.email
  .row
    .col-xs-12.scrolled-y
      - if flash[:alert]
        .alert.alert-danger.alert-dismissible.fade.in
          button.close[type="button" data-dismiss="alert"]
            span[aria-hidden="true"]
              | ×
            span.sr-only
              | Закрыть
          = flash[:alert]
      form[name="form" role="form"]
        .form-inline
          input.form-control[name="query" type="text" size="39" method="POST"]
      - if @query
        - @translation.each_pair do |key, val|
          - unless @transcription.nil?
            h3[style="color: red"]
              - if user_signed_in?
                = key + '  '
                span.badge
                  = @counter
              - else
                = key
            h3[style="color: orange"]
              = '[' + @transcription.to_s + ']'
          - else
            h3[style="color: red"]
              = key
          - unless val.nil?
            - if val.is_a? Array
              p.translation
                - val.each do |val_tag|
                  - unless val_tag == val.last
                    = val_tag['text'].html_safe + ', '
                  - else
                    = val_tag['text'].html_safe + '.'
            - else
              p.translation
                = val.html_safe
          - else
            p.translation
              | Перевод для вашего запроса отсутствует в нашем словаре :( 
              br
              | Если запос состоит из нескольких слов (например, вам нужен перевод модального глагола или сленгового выражения), попробуйте переформулировать запрос иначе. Может быть и найдется что-нибудь...
