<div style="height: 50px;"><div>
<div class="footer">
	<footer class="container center">
	<div style="display: block; text-align: center;">
		<p>2016 <%= "\xC2\xA9" %> Igor Klekotnev</p>
		<p><a href="mailto:klekotnev@gmail.com?Subject=From wordside.ru" target="_top">Написать автору</a></p>
		</div>
	</footer>
</div>