<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://wordside.ru">
              <%= image_tag image_path('logo1.png') %>
            </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Полезные ссылки <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Сделать всё хорошо</a></li>
          <li class="divider"></li>
          <li><a href="#">Победить лень</a></li>
          <li class="divider"></li>
          <li><a href="#">Стать котом</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>