<form>
	<input type="text" name="statement">
</form>
<% if @statement %>
	<p>Поиск по выражению: <b><%= "#{@statement}" %></b></p>
	<form>
		<input type="hidden" value=<%= "#{@statement}" %> name="apply" >
		<input type="submit" value="Apply changes to DB" >
	</form>
	<ul>
		<% @selected_articles.each do |a| %>
			<li><%= a.title %></li>
		<% end %>
	</ul>
<% else %>
	<p>no statement</p>
<% end %>