<script language="JavaScript">
function openSidebar() {
  open("<%= sidebar_index_path %>", "Word Side",
  "titlebar=no,screenX=10000,width=300,height=8000,status=no,toolbar=no,menubar=no,location=no,resizable=no");
}
</script>
<!--<p class="notice"><%#= notice %></p>
<p class="alert" ><%#= alert  %></p>-->
<div class="center">
  <h1>
  	<span style="color: red;">W</span>
	<span style="color: green;">e</span>
	<span style="color: yellow;">l</span>
	<span style="color: blue;">c</span>
	<span style="color: black;">o</span>
	<span style="color: green;">m</span>
	<span style="color: red;">e </span>
	<span style="color: #345;">t</span>
	<span style="color: #934;">o </span>
	<span style="color: #194;">W</span>
	<span style="color: #210;">o</span>
	<span style="color: #695;">r</span>
	<span style="color: #ff2;">d</span>
	<span style="color: red;">s</span>
	<span style="color: #ff4;">i</span>
	<span style="color: #00f;">d</span>
	<span style="color: orange;">e</span>
	<span style="color: #cc4;">.</span>
	<span style="color: blue;">r</span>
	<span style="color: #ed6;">u</span>
  </h1>
</div>
<br>
<div class="center">
  	<p><em>The best russian helper for remembering english words!</em></p>
</div>
<br>
<br>
<div class="center">
    <p>
  	  <input class="btn btn-lg btn-danger" name="btnOpenSidebar" type="button"
  	                          value="Side it now! =>" onClick="openSidebar()">
    </p>
</div>
  
  
