/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html,
body {
	margin:0;
	padding:0;
	height:100%;

  overflow-x: hidden;
  overflow-y: auto;

}

#wrapper {
	min-height:100%;
	position:relative;
}

#header {
	background:#ffffff;
	padding:10px;
}

#content {
	padding-bottom:10px; /* Height of the footer element */
}

#footer {
 	background:#ffffff;
 	color: #cccccc;
 	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 50px;
	clear:both;
}

h1 {
	font-family: 'Freckle Face', cursive; 
}

em {
	font-family: 'Loved by the King', cursive;
	font-size: 24px;
}

.jumbotron {
	height: 100px;
	width: auto;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-repeat: no-repeat;
	color: black;

 	margin-top: -10px;
 	#background-image: url(lib_cat.jpg);
 	    
    background-color:transparent !important; 
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
#translation {
	font-size: 14px;
}