// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description {
	font-family: 'Neucha', cursive;
	font-size: 16px;
}

.link-description {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	color: orange;
}

.navbar-brand {
	margin-top: -6px;
}