doctype html
html
  head
    title
      | Wordside
    link[href="http://fonts.googleapis.com/css?family=Freckle+Face" rel="stylesheet" type="text/css"]
    link[href="https://fonts.googleapis.com/css?family=Loved+by+the+King" rel="stylesheet" type="text/css"]
    link[href="https://fonts.googleapis.com/css?family=Neucha&subset=latin,cyrillic" rel="stylesheet" type="text/css"]
    link[href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,cyrillic" rel="stylesheet" type="text/css"]
    link[rel="shortcut icon" href="favicon.ico"]
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    = render 'shared/navigation'
    #wrapper
      #content
        #main-container.container-fluid
          .row
            .col-xs-12
              = yield
    = render 'shared/footer'
